.form-horizontal.upper-h-line
  .form-group
    %label(class= 'col-sm-3 control-label') &nbsp;
    .col-sm-9
      %p.form-control-static
        = links(devise_mapping, controller_name, resource_class)
