%ul.nav.navbar-nav
  %li.active
    =link_to t(".dashboard"), dashboard_path
  %li
    %a{:href => "#about"} About
  %li
    %a{:href => "#contact"} Contact
    
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      Dropdown
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "http://www.apple.com"} Apple
      %li
        %a{:href => "http://www.google.com"} Google
      %li.divider
      %li.dropdown-header Nav header
      %li
        %a{:href => "http://www.dropbox.com"} Dropbox


%ul.nav.navbar-nav.navbar-right
  = render "layouts/navigations/locale_switch"
  %li
    .btn-group.navbar-btn
      %button.btn.btn-danger= current_user.first_name.blank? ? current_user.full_name : current_user.first_name
      %button.btn.btn-danger.dropdown-toggle{data:{toggle:"dropdown"}}
        %span.caret
      %ul.dropdown-menu
        %li= link_to current_user.full_name, current_account.user
        %li.divider
        %li= link_to t('.sign_out'), destroy_account_session_path, method: :delete
