%p= t('.hello', email: @resource.email, fullname: @resource.user.fullname)
%p= t('.someone_invited_you', url: root_url)
%p= link_to t('.accept_invitation'), accept_invitation_url(@resource, :invitation_token => @token)
%p= t('.ignore').html_safe
