/ Fixed navbar
.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      = render partial: "layouts/navigations/navbar_header"

    .navbar-collapse.collapse
      - if account_signed_in?
        = render 'layouts/navigations/signed_in'
      - else
        = render 'layouts/navigations/signed_out'

